.underline {
    position: relative;
    color: $color-font-white;

    &::after {
        z-index: -1;
        content: '';
        position: absolute;
        bottom: .5rem;
        left: .9rem;
        height: rem-calc(9);
        width: 100%;
        background-color: $color-underline-red;
    }
}

.social-buttons {
    a {
        color: $color-font-white;
        opacity: .5;
        margin: 0 .2rem;

        &:hover {
            color: $color-underline-red;
            opacity: 1;
        }
    }
}

.current-menu-item {
    @extend .underline;

    &::after {
        background-color: $color-underline-purple;
    }
}

.btn {
    @extend .h3;
    color: $color-menu-red;
    position: relative;
    z-index: 10;

    &::after {
        content: url('../icons/Arrow-Static-small.png');
        height: 1rem;
        width: 1rem;
        right: -.75rem;
        top: 0rem;
        position: absolute;
    }

    span {
        height: 1.9px;
        background-color: $color-terra-cota;
        width: 20px;
        position: absolute;
        z-index: 11;
        top: 55.5%;
        right: -1rem;
        transition: all .3s ease-in-out;

        @include breakpoint( small only ) {
            display: none;
        }
    }

    &:hover {
        color: $color-menu-red;
        span {
            width: 100%;
            transition: all .3s ease-in-out;
        }
    }
}

.btn-rev {
    @extend .h3;
    color: $color-menu-red;
    position: relative;
    z-index: 10;

    // &::before {
    //     content: url('../icons/Arrow-Static-Rev-small.png');
    //     height: 1rem;
    //     width: 1rem;
    //     left: -.75rem;
    //     top: 0rem;
    //     position: absolute;
    //
    //     @include breakpoint( small only ) {
    //         left: 1rem;
    //     }
    // }

    span {
        height: 1.9px;
        background-color: $color-terra-cota;
        width: 20px;
        position: absolute;
        z-index: 11;
        top: 55.5%;
        left: -.545rem;
        transition: all .3s ease-in-out;
        border-radius: 5px;

        &.top, &.bottom {
            transform-origin: left;
            width: 15px;
            left: -.49rem;
        }

        &.top {
            transform: rotate(45deg);
        }

        &.bottom {
            transform: rotate(-45deg);
        }

        @include breakpoint( small only ) {
            display: none;
        }
    }

    &:hover {
        color: $color-menu-red;
        span.lengthen {
            width: 100%;
            transition: all .3s ease-in-out;
        }
    }
}

.btn-alt {
    @extend .underline;
    color: #FFF;
    &::after {
        width: 0;
        transition: all .3s ease-in-out;
        bottom: .1rem;
        left: -.2rem;
    }
    &:hover {
        color: #FFF;

        &::after {
            left: -.2rem;
            width: 110%;
            transition: all .3s ease-in-out;
        }
    }

}

.back-button {
    text-align: right;
}

@include breakpoint(small only) {
    .back-button-container {
        div.row {
            justify-content: flex-start !important;
        }
    }
    .fwd-button {
        text-align: left;
        @include flex-grid-column(16);

        &.btn {
            &::after {
                top: .15rem;
            }
        }
    }
}
