.case-study-content-container, mobile-case-study {
    position: relative;

    @include breakpoint(medium up) {
        min-height: rem-calc(920);

        // if there is more than 2 images on the page, extend the page height
        &.total-3 {
            min-height: rem-calc(1700);
        }
        &.total-4 {
            min-height: rem-calc(2200);
        }
        &.total-5 {
            min-height: rem-calc(2400);
        }
    }

    @include breakpoint(small only) {
        padding-top: rem-calc(80);
        min-height: rem-calc(700);

        // if there is more than 2 images on the page, extend the page height
        &.total-3 {
            min-height: rem-calc(820);
        }
        &.total-4 {
            min-height: rem-calc(1100);
        }
        &.total-5 {
            min-height: rem-calc(1300);
        }

        .header-content {

            h1 {
                position: relative;
                z-index: 10;
            }
        }
    }

    .page-content {
        position: relative;
        z-index: 10;

        .header-content {
            margin-top: rem-calc(225);
            @include breakpoint (small only) {
                margin-top: 1rem;
            }
            position: relative;
            z-index: 10;

            h2 {
                position: relative;
                z-index: 10;
                margin-bottom: 4rem;
            }

            .stats-container {

                h5 {
                    color: $color-underline-red;
                    margin-bottom: 1rem;
                }

                @include breakpoint(small only) {
                    .stat-block {
                        @include flex-grid-column(22);
                        margin-bottom: 2rem;
                    }
                }
            }
        }

        .body-content {
            position: relative;
            z-index: 10;
            margin-top: 2rem;
            @include breakpoint(small only) {
                margin-top: 7rem;
            }

            p {
                color: #FFF;
                margin-bottom: 5rem;
                text-shadow: 0px 0px 12px #000;
            }

            h5 {
                color: $color-underline-red;
                margin-bottom: 1rem;
            }
        }
    }
}
.back-button-container {
    margin-top: 2rem;
    position: absolute;
    width: 100%;
}


.case-study-content-container {
    .body-content {
        @include breakpoint(small only) {
            width: 75%;
        }
    }
}
