
.page-content-container {
    position: relative;

    @include breakpoint(medium up) {
        min-height: rem-calc(920);

        // if there is more than 2 images on the page, extend the page height
        &.total-3 {
            min-height: rem-calc(1700);
        }
        &.total-4 {
            min-height: rem-calc(2200);
        }
        &.total-5 {
            min-height: rem-calc(2400);
        }

        .page-content {

            .header-content {
                height: rem-calc(1024);

                h1 {
                    position: fixed;
                    z-index: 10;
                    font-weight: 400;
                    
                }
            }
        }
    }

    @include breakpoint(small only) {
        padding-top: rem-calc(80);
        min-height: rem-calc(700);

        // if there is more than 2 images on the page, extend the page height
        &.total-3 {
            min-height: rem-calc(820);
        }
        &.total-4 {
            min-height: rem-calc(1000);
        }
        &.total-5 {
            min-height: rem-calc(1150);
        }

        .header-content {

            h1 {
                position: fixed;
                z-index: 10;
            }
        }
    }
}
