.images-container {
    @include breakpoint( small only ) {
        overflow-x: hidden;
    }

    .image-link {
        z-index: 1;
        position: absolute;
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;

        @include breakpoint(small only) {
            &.image-0 {
                height: rem-calc(171);
                min-width: rem-calc(240);
                right: 10%;
                top: rem-calc(160);
            }

            &.image-1 {
                width: rem-calc(240);
                height: rem-calc(174);
                left: 10%;
                top: rem-calc(390);
            }

            &.image-2 {
                height: rem-calc(266);
                width: rem-calc(204);
                left: 35%;
                top: rem-calc(510);
                z-index: 2;
            }

            &.image-3 {
                height: rem-calc(160);
                min-width: rem-calc(240);
                right: 10%;
                top: rem-calc(800);
            }

            &.image-4 {
                height: rem-calc(204);
                width: rem-calc(204);
                left: 10%;
                top: rem-calc(900);
            }
        }


        @include breakpoint(medium up) {
            // image hover state only applicable when image_link included
            &.hover-positive {

                &::after {
                    content: '';
                    z-index: 2;
                    position: absolute;
                    transition: all .3s ease-in-out;
                    opacity: 0;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: $color-rhythm;
                }

                .hover-text {
                    position: absolute;
                    z-index: 3;
                    top: 2.5rem;
                    left: 0;
                    opacity: 0;
                    transition: all .3s ease-in-out;

                    &.underline {
                        &::after {
                            bottom: .2rem;
                        }
                    }
                }

                &:hover {

                    .hover-text {
                        left: 10%;
                        opacity: 1;
                        transition: all .3s ease-in-out;
                    }


                    &::after {
                        opacity: .75;
                        transition: all .3s ease-in-out;
                    }
                }
            } // end hover state

            &.image-0 {
                height: rem-calc(420);
                min-width: rem-calc(620);
                right: 20%;
                top: rem-calc(75);

            }

            &.image-1 {
                height: rem-calc(360);
                width: rem-calc(510);
                left: 16%;
                top: rem-calc(600);
            }

            &.image-2 {
                height: rem-calc(665);
                width: rem-calc(510);
                left: 25%;
                top: rem-calc(924);
                z-index: 2;
            }

            &.image-3 {
                height: rem-calc(485);
                min-width: rem-calc(725);
                right: 20%;
                top: rem-calc(1660);
            }

            &.image-4 {
                height: rem-calc(400);
                width: rem-calc(400);
                left: 20%;
                top: rem-calc(1960);
            }
        }
    }

    @include breakpoint(small only) {
        &.mobile-case-study .image-link {
            margin-top: rem-calc(150);

            &.image-0 {
                right: 10%;
            }

            &.image-1 {
                left: 10%;
            }

            &.image-2 {
                left: 35%;
            }

            &.image-3 {
                right: 10%;
            }

            &.image-4 {
                left: 10%;
            }
        }
    }
}
