.navbar {
    margin-top: 2rem;
    min-height: rem-calc(50);
    position: fixed;
    width: 100%;
    z-index: 11;

    .logo {
        position: absolute;
        left: 4rem;
        width: rem-calc(146);
        height: rem-calc(41);
        z-index: 1;
        @include breakpoint (small only) {
            left: 2rem;
            img {
                height: rem-calc(24);
            }
        }
    }
}

.sidebar {
    position: fixed;
    right: 4rem;
    z-index: 13;
    min-width: rem-calc(200);
    top: 1.5rem;

    @include breakpoint (small only) {
        right: 1rem;
    }

    .menu-text {
        color: #fff;
        opacity: .5;
    }

    button.hamburger {
        outline: none;

        .hamburger-inner {
            top: 5px;
        }
    }

    @include breakpoint (medium up ) {
        .hamburger-inner {
            width: 30px;

            &::before {
                width: 30px;
            }

            &::after {
                width: 30px;
            }
        }
    }
}

.overlay {
    height: 100vh;
    background: linear-gradient(to bottom, lighten($color-independance, 10%), darken($color-independance, 10%));
    position: fixed;
    top: 0;
    @include breakpoint (medium up) {
        bottom: 0;
    }
    right: -100%;
    width: 17rem;
    @include breakpoint (small only) {
        width: 15rem;
    }
    padding-top: 6rem;
    z-index: 12;
    transition: all .3s ease-in-out;

    &.is-active {
        transition: all .3s ease-in-out;
        right: 0;
    }

    .menu {
        @extend .h5;

        li {
            list-style: none;
            text-decoration: none;
            margin: .75rem 0;
            position: relative;
            @include breakpoint( small only ) {
                margin: 0;
            }
        }
        .menu-item {
            a {

                &::after {
                    content: '';
                    position: absolute;
                    bottom: .5rem;
                    left: .9rem;
                    transition: all ease-in-out .3s;
                    width: 0%;
                    height: rem-calc(9);
                    z-index: -1;
                    background-color: $color-underline-red;
                }
            }

            &:hover > a {
                position: relative;
                color: $color-font-white;

                &::after {
                    width: 100%;
                    transition: all ease-in-out .3s;
                }
            }
        }


        &.sub-navigation {
            @extend .h6;
            margin-top: 2rem !important;
            margin-bottom: 2rem !important;

            .menu-item {
                margin: .25rem 0;

                &:hover > a {

                    &::after{
                        width: 90% !important;
                        transition: all ease-in-out .3s;
                    }
                }
            }

            a {
                position: relative;
                z-index: 10;
                color: $color-menu-red !important;

                &::after {
                    height: rem-calc(6) !important;
                    width: 0%;
                    left: .9rem;
                    bottom: .7rem;
                    transition: all ease-in-out .3s;
                    z-index: -1;
                }


            }
        }
    }
}
