// FONT IMPORTS


// FONT DEFAULT STYLES
h1, h1 {
    font-family: $font-grande;
    font-weight: bold;
    font-size: rem-calc(117);
    text-transform: lowercase;
    margin: 0;
    line-height: 1.25em;
    @include breakpoint( small only ) {
        font-size: rem-calc(42);
    }
}
h2, .h2 {
    font-family: $font-grande;
    font-weight: bold;
    font-size: rem-calc(68);
    text-transform: lowercase;
    margin: 0;
    line-height: 1.25em;
    @include breakpoint( small only ) {
        font-size: rem-calc(42);
    }
}
h3, .h3 {
    font-family: $font-sans;
    font-weight: 300;
    font-size: rem-calc(42);
    text-transform: lowercase;
    margin: 0;
    line-height: 1.25em;
    @include breakpoint( small only ) {
        font-size: rem-calc(26);
    }
}
h4, .h4 {
    font-family: $font-sans;
    font-weight: bold;
    font-size: rem-calc(26);
    margin: 0;
    line-height: 1.4em;
    @include breakpoint( small only ) {
        font-size: rem-calc(16);
    }
}
h5, .h5 {
    font-family: $font-sans;
    font-weight: bold;
    font-size: rem-calc(16);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
}
h6, .h6 {
    font-family: $font-sans;
    font-weight: bold;
    font-size: rem-calc(10);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
}
body, p {
    font-family: $font-sans;
    font-size: rem-calc(16);
    color: $color-font-white;
    line-height: 1.8em;
}
