@import '../node_modules/foundation-sites/scss/util/util';

// Base Colors
// $color-blue: #023e5c;
$color-gunmetal: #272838;
$color-independance: #5d536a;
$color-rhythm: #7c6a91;
$color-bluebell: #aa9dcd;
$color-terra-cota: #ed695e;
$color-underline-purple: #89789B;
$color-underline-red: #EC6A5E;
$color-menu-red: #EFA199;
$color-drop-shadow: #5D536B;
// $color-font-white: #F1D7D5;
$color-font-white: #FFF;
$color-menu-text: #F1D8D5;


// Fonts
// $font-roboto: "roboto", sans-serif;
$font-grande: "questa-grande", serif;
$font-sans: "questa-sans", sans-serif;


// font weights
// $light: 400;


// path to fontawesome font relative to compiled css files
$fa-font-path: "../src/fontawesome-css/webfonts";

// change row width
$row-width: rem-calc(1200);
